# DO NOT CHANGE THIS FILE
# DUPLICATE AND SAVE IT AS requirements-dev-YOURNAME.txt
# run like this: pip3 install -r requirements-dev-YOURNAME.txt --upgrade

# core libraries
#-e git+https://cajomferro@bitbucket.org/fchampalimaud/logging-bootstrap.git@master#egg=logging-bootstrap
#-e git+https://github.com/UmSenhorQualquer/pyforms.git@master#egg=pyforms
#-e git+https://github.com/UmSenhorQualquer/pysettings.git@master#egg=pysettings.git
#-e git+https://cajomferro@bitbucket.org/fchampalimaud/pyforms-generic-editor.git@master#egg=pyforms-generic-editor

../logging-bootstrap/
../pysettings/
../pyforms/
../pyforms-generic-editor/

#plugins
../pycontrol-gui-plugin-session-log/
../pycontrol-gui-plugin-timeline/

# other libraries
pyserial>=3.1.1
Send2Trash>=1.3.0
